<div class="container" *ngIf="productos; else loading">
    <div class="row filtrar">
        <div class="col">
            <p class="titulo-joyas accesibilidad">Joyas</p>
        </div>
    </div>
    <div class="row align-items-center text-center">
        <div class="card-columns">
            <div class="card" *ngFor="let producto of productos">
              <a  [routerLink]="['/joya',producto.id]">
                <img class="card-img-top" [src]="producto.data.imagen" alt="Card image cap">
              </a>
                <div class="card-body">
                    <h5 class="card-title accesibilidad"><strong>{{producto.data.nombre}}</strong></h5>
                    
                    <p class="card-text accesibilidad">${{producto.data.venta}}</p>

                    <a (click)="push(producto.id)" class="btn btn-danger">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="row text-center mt-5 pt-5">
        <div class="col">
            <i class="fas fa-sync-alt fa-5x fa-spin"></i>
        </div>
    </div>
</ng-template>