<div class="container" *ngIf="productos; else loading">
    <div class="row filtrar">
        <div class="col">
            <p class="titulo-joyas accesibilidad">Joyas</p>
        </div>
    </div>
    <div class="row ">
        <!--<div class="form col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <p class="h5 "><strong>Filtrar</strong></p>
            <div class="form-group">
                <label for="inputState">Material</label>
                <select id="inputState" class="form-control">
                  <option value="todo" selected>Todo</option>
                  <option value="oro">Oro</option>
                  <option value="plata">Plata</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputState">Precio</label>
                <select id="inputState" class="form-control">
                  <option value="todo" selected>Todo</option>
                  <option value="1">$100.00 - $1000.00</option>
                  <option value="2">$1100.00 - $2000.00</option>
                  <option value="3">$2100.00 - $3000.00</option>
                  <option value="4">$3100.00 - $4000.00</option>
                  <option value="5">$4100.00 - $5000.00</option>
                  <option value="6">$5100.00 - $6000.00</option>
                  <option value="7">$6100.00 - $7000.00</option>
                  <option value="8">$8100.00 - $9000.00</option>
                  <option value="9">$9100.00 - $10000.00</option>
                  <option value="10">$10100.00 - $11000.00</option>
                </select>
            </div>
        </div>
        <div class="container col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let producto of productos">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top producto" [src]="producto.data.imagen" alt="Card image cap" (click)="verJoya(2)">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{producto.data.nombre}}</strong></h5>
                    <p class="card-text">{{producto.data.venta}}</p>
                    <a href="#" class="btn btn-danger">Agregar al carrito</a>
                </div>
            </div>
        </div>-->
        <div class="card-columns">
            <div class="card" *ngFor="let producto of productos">
                <img class="card-img-top" [src]="producto.data.imagen" alt="Card image cap">
                <div class="card-body">
                    <a class="dropdown-item" [routerLink]="['/joya',producto.id]">
                        <h5 class="card-title accesibilidad"><strong>{{producto.data.nombre}}</strong></h5>
                    </a>
                    <p class="card-text accesibilidad">${{producto.data.venta}}</p>

                    <a (click)="push(producto.id)" class="btn btn-danger">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row ">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
  </div>-->
</div>

<ng-template #loading>
    <div class="row text-center mt-5 pt-5">
        <div class="col">
            <i class="fas fa-sync-alt fa-5x fa-spin"></i>
        </div>
    </div>
</ng-template>