<nav class="navbar navbar-expand-lg navbar-dark bg-dark posicion">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="../../assets/diamante.png" width="40" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link accesibilidad" [routerLink]="['home']">Inicio</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle accesibilidad" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['/joyas',1]">
            Joyas
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/joyas',2]">Anillos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',3]">Colgantes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',4]">Pulseras</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',5]">Collares</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',6]">Broches</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',7]">Cadenas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',8]">Pendientes</a>
                </div>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link accesibilidad" [routerLink]="['/joyas',9]">Anillos de compromiso</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link accesibilidad" [routerLink]="['/joyas',10]">Alianzas</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle accesibilidad" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['/joyas',11]">
            Hombre
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/joyas',12]">Gemelos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',13]" href="#">Collares</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',14]">Cadenas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',15]">Esclavas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',16]">Anillos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',17]">Pendientes</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle accesibilidad" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['/joyas',18]">
            Niños
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/joyas',19]">Anillos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',20]">Pulseras</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',21]">Colgantes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/joyas',22]">Pendientes</a>
                </div>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link accesibilidad" [routerLink]="['about']">Acerca de</a>
            </li>

            <div *ngIf="user$ | async as user">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['admin-options']">Admin</a>
                </li>
            </div>



        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar Joyas" aria-label="Buscar">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
        </div>
    </div>
</nav>