<div class="toolbar" role="banner">
    <div class="ico mx-4">
        <i class="fab fa-2x fa-accessible-icon" (click)="speak()"></i>
    </div>
    <div class="ico">
        <i class="fas fa-2x fa-pause" (click)="pause()"></i>
    </div>

    <div class="spacer"></div>

    <!--<img width="60" alt="Mis Joyitas Logo" src="../assets/diamante.png"/>-->
    <i class="fas fa-3x fa-gem primary-icon" style="margin-right: 1rem;"></i>

    <p class="h2 title accesibilidad">Mis Joyitas</p>
    <div class="spacer"></div>

    <a aria-label="Carrito" [routerLink]="['carrito']" class="ico">
        <i class="fas fa-2x fa-cart-plus"></i>
    </a>
    <!--
    <a aria-label="Carrito" [routerLink]="['login']" class="ico">
      <i  class="fas fa-2x fa-sign-in-alt"></i>
  </a>
  -->
    <div *ngIf="user$ | async as user; else login">

        <a class="ico accesibilidad" (click)="onLogout()" style="cursor: pointer">Logout</a>
        <div *ngIf="user.email; else telef">

            <a class="ico accesibilidad">{{ user.email }}</a>
        </div>
        <ng-template #telef>
            <a class="ico accesibilidad">{{ user.phoneNumber }}</a>
        </ng-template>
    </div>

    <ng-template #login>
        <a [routerLink]="['/login']" class="ico">
            <i class="fas fa-2x fa-sign-in-alt"></i></a>
        <a class="ico accesibilidad" style="text-decoration:none;" [routerLink]="['/register']">Register</a>

    </ng-template>

</div>