<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-6">
            <h1>Usuarios</h1>
            <form (ngSubmit)="newUser(newUserForm.value)" [formGroup]="newUserForm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" class="form-control" formControlName="email" readonly>
                </div>
                <!--<div class="form-group">
                    <label for="exampleInputEmail1">Telefono</label>
                    <input type="text" class="form-control" formControlName="phoneNumber" readonly>
                </div>-->

                <div class="form-group">
                    <label for="exampleInputEmail1">Rol</label>
                    <input type="text" class="form-control" formControlName="role">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info btn-block" value="Cambiar">
                </div>
            </form>
        </div>

        <div class="col">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email/Telefono</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <!--<td *ngIf="user.data.phoneNumber; else correo">{{user.data.phoneNumber}}</td>
                        <ng-template #correo>{{user.data.email}}</ng-template>-->
                        <td *ngIf="user.data.email">{{user.data.email}}</td>
                        <td>{{user.data.role}}</td>
                        <td>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-secondary" (click)="editUser(user.id)">Editar</button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>