<div class="container mt-5 pt-5" style="height: 500px;">
    <div class="row">
        <div class="col mt-5 ">
            <div class="list-group">
                <h4 class="list-group-item list-group-item-action active">Opciones para el administrador</h4>
                <a class="list-group-item list-group-item-action" [routerLink]="['/set-role']">Cambiar roles</a>
                <a class="list-group-item list-group-item-action" [routerLink]="['/productos']">Editar o agregar productos</a>
                <a class="list-group-item list-group-item-action" [routerLink]="['/productos-graf']">Graficas de productos</a>
            </div>
        </div>
    </div>
</div>